<!DOCTYPE html>
<!-- saved from url=(0027)http://toprecur.cloudapp.net/ -->
<html class="wf-proximanova-i4-active wf-proximanova-i6-active wf-proximanova-i7-active wf-proximanova-n4-active wf-proximanova-n6-active wf-proximanova-n7-active wf-active">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Idea Hunt</title>
  	<meta name="description" content="Idea Hunt is a curation of the best new Ideas, every day. Discover the
latest mobile apps, websites, and technology Ideas that everyone&#39;s talking about.
">
		<link rel="stylesheet" media="all" href="css/app.css">
	  <style type="text/css">
	  	.tk-proxima-nova{font-family:"proxima-nova",sans-serif;}
	  </style>
	  <link rel="stylesheet" href="css/typekit.css">
</head>
	<body  class="posts-index {{bodyExtraClassOnAddPostForm}}" ng-app="ideaHuntApp" ng-controller="IdeaHuntListCtrl" >  
	

		<div ng-click="hideAddPostForm()" class="close-discussion-body close-discussion" id="close-discussion-panel"></div>
		<!-- Post New Begin -->
		<div class="show-post-modal hidden" ng-click="hideAddPostForm()"></div>

		<div ng-class="addPostFormClass">
		  <div class="modal-content">
			  <header class="modal--header">
			    <h1 class="modal--header--title">Post a new idea</h1>
			    <p class="modal--header--description">Find something new and interesting? Hunt it!</p>
			  </header>
			  <div class="new-post">
			    <form class="new_submission" id="new_submission">
			    	<input name="utf8" type="hidden" value="✓">
			    	<input type="hidden" name="authenticity_token" value="AmF6DsT1N7GoWBTvUql9FtObZH5HFKvJdngClwL2sXvFc39Py5TqGkDvxpW58z202EuibrUoDA7EFhRAPfcb4A==">
			    	<input placeholder="Idea URL" class="input" type="url" ng-model="newPost.url" id="submission_url"><br>
			      <input placeholder="Idea Name" class="product-name input" type="text" ng-model="newPost.name" id="submission_name"><br>
			      <input placeholder="Tagline" class="product-tagline input" type="text" ng-model="newPost.tagline" id="submission_tagline"><br>
			      <input type="submit" name="commit" value="Hunt it" class="new_post_submit button v-green" ng-click="addPost()">
					</form>
				</div>
			</div>
		</div>
		<!-- Post New End -->

	  <header class="header headroom headroom--top" data-component="Headroom">
	    <div class="container">
	      <a class="brand" href="index.html">
	        <svg class="brand--logo" width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
					    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
					      <circle id="Oval-1" fill="#92cf10" sketch:type="MSShapeGroup" cx="15" cy="15" r="15"></circle>
					          <circle id="Oval-2" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="15" cy="6" r="2"></circle>
					      <path d="M13,23  L13,12 L17,12 L17,23 " id="P" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
					    </g>
					</svg>

	        <div class="brand--title u-hidden-on-small-screen">
	          <h1>Idea Hunt</h1>
	          <h2 class="u-hidden-on-medium-screen">The best new Ideas, every day</h2>
	        </div>
				</a>
	      <ul class="header--nav">
	        <li data-popover="click">
	          <a href="http://toprecur.cloudapp.net/#" class="header--more">
	          	<svg width="25px" height="5px" viewBox="0 0 25 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
							  <g id="Flow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
							    <g id="Featured" sketch:type="MSArtboardGroup" transform="translate(-1076.000000, -160.000000)" fill="#CCC8C7">
							      <g id="Navigation" sketch:type="MSLayerGroup" transform="translate(107.000000, 126.000000)">
							        <path d="M971.5,39 C972.880712,39 974,37.8807119 974,36.5 C974,35.1192881 972.880712,34 971.5,34 C970.119288,34 969,35.1192881 969,36.5 C969,37.8807119 970.119288,39 971.5,39 L971.5,39 Z M981.5,39 C982.880712,39 984,37.8807119 984,36.5 C984,35.1192881 982.880712,34 981.5,34 C980.119288,34 979,35.1192881 979,36.5 C979,37.8807119 980.119288,39 981.5,39 L981.5,39 Z M991.5,39 C992.880712,39 994,37.8807119 994,36.5 C994,35.1192881 992.880712,34 991.5,34 C990.119288,34 989,35.1192881 989,36.5 C989,37.8807119 990.119288,39 991.5,39 L991.5,39 Z" id="Oval-230" sketch:type="MSShapeGroup"></path>
							      </g>
							    </g>
							  </g>
							</svg>
						</a>
	          <div data-popover="content">
	            <ul class="dropdown-menu--list">
	              <li><a href="http://toprecur.cloudapp.net/about">About</a></li>
	              <li><a href="http://toprecur.cloudapp.net/apps">Apps</a></li>
	              <li><a target="_blank" href="http://blog.producthunt.com/">Blog</a></li>
	              <li><a href="http://toprecur.cloudapp.net/faq">FAQ</a></li>
	              <li><a href="http://toprecur.cloudapp.net/jobs">Jobs</a></li>
	              <li><a href="http://toprecur.cloudapp.net/meetups">Meetups</a></li>
	              <li><a href="http://toprecur.cloudapp.net/radio">Radio</a></li>
	            </ul>
	          </div>
	        </li>

	        <li>
	        	<% if(typeof user !== 'undefined'){%>
	        		
	        		<!-- Begin User logged in Egg -->
							<li data-popover="click" ng-click="toggleUserMenu()" class="m-active">
							  <a href="#" class="header--triangle">
							    <img class="twitter-rounded user-image" src="//aws.producthunt.com/profile_image/88270/1416508748-default_profile_330@2X.png" alt="1416508748 default profile 330@2x" width="30" height="30">
							      <svg width="12px" height="7px" viewBox="0 0 12 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							    		<g transform="translate(-1214.000000, -160.000000)">
							        	<g transform="translate(108.000000, 126.000000)">
							            <path d="M1111.99823,40.244276 C1111.74349,40.243968 1111.48933,40.1461832 1111.29499,39.9518475 L1107.04815,35.7050068 C1106.66349,35.320345 1106.65973,34.6834175 1107.05025,34.2928932 C1107.4435,33.8996463 1108.073,33.9014287 1108.46237,34.2907932 L1112,37.8284271 L1115.53763,34.2907932 C1115.9223,33.9061315 1116.55922,33.9023689 1116.94975,34.2928932 C1117.34299,34.6861402 1117.34121,35.3156423 1116.95185,35.7050068 L1112.70501,39.9518475 C1112.51302,40.1438339 1112.25819,40.2409363 1112.00252,40.2414902 Z" fill="#CCC8C7"></path>
							        	</g>
							    		</g>
										</svg>
							   </a>
							</li>
	        		<!-- End User logged in Egg -->

	        		<!-- Begin user profile, logout popup  menu -->
	        		<div class="popover"  ng-show="showUserMenuFlag">
							  <div class="popover--arrow"></div>
							  <div class="popover--content">
		              <ul class="dropdown-menu--list">
		                <li><a href="/iqbalforallp">My Profile</a></li>

		                  <li><a href="/iqbalforallp/collections">My Collections</a></li>

		                <li class="u-hidden-on-medium-or-large-screen">
		                    <a href="/submissions/new">Post a Product</a>
		                </li>


		                <li class="u-hidden-on-medium-or-large-screen">
		                  <a class="show-notifications" data-action="open-modal" href="/notifications">Notifications</a>
		                </li>

		                <li><a href="/my/settings/edit">Settings</a></li>

		                  <li><a href="/v1/oauth/applications">API Dashboard</a></li>

		                <li><a href="/logout">Log out</a></li>
		              </ul>
							  </div>
							</div> 
							<!-- End user profile, logout popup  menu -->

							<!-- End user id token -->

	        	<% }else { %>
	       	  <a href="auth/twitter">Log in</a>
	       	  <% }%>
	        </li>

	        <li class="u-hidden-on-small-screen">
	          <a href="http://toprecur.cloudapp.net/#" ng-click="showAddPostForm()" class="header--post new-post-link">
	            <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
							  <g id="Flow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
							    <g id="Featured" sketch:type="MSArtboardGroup" transform="translate(-1245.000000, -146.000000)" fill="#DC5425">
							      <g id="Navigation" sketch:type="MSLayerGroup" transform="translate(107.000000, 126.000000)">
							        <path d="M1152,34 L1152,30.0024733 C1152,29.455761 1152.44772,29 1153,29 C1153.55614,29 1154,29.4488226 1154,30.0024733 L1154,34 L1157.99753,34 C1158.54424,34 1159,34.4477153 1159,35 C1159,35.5561352 1158.55118,36 1157.99753,36 L1154,36 L1154,39.9975267 C1154,40.544239 1153.55228,41 1153,41 C1152.44386,41 1152,40.5511774 1152,39.9975267 L1152,36 L1148.00247,36 C1147.45576,36 1147,35.5522847 1147,35 C1147,34.4438648 1147.44882,34 1148.00247,34 L1152,34 Z M1138,35 C1138,26.7157288 1144.71391,20 1153,20 C1161.28427,20 1168,26.7139073 1168,35 C1168,43.2842712 1161.28609,50 1153,50 C1144.71573,50 1138,43.2860927 1138,35 Z" id="Rectangle-143" sketch:type="MSShapeGroup"></path>
							      </g>
							    </g>
							  </g>
							</svg>
	          </a>
	        </li>
	      </ul>

	      <div class="header--search v-no-user">
	        <div class="header--search--wrapper input-wrapper">
	          <label for="search-field" class="header--search--trigger">
		          <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		    				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        			<g transform="translate(-403.000000, -153.000000)" fill="#534540">
		            		<g transform="translate(107.000000, 126.000000)">
		                	<g transform="translate(285.000000, 18.000000)">
		                    <path d="M21.6164386,20.5306522 C20.4955148,21.4489576 19.0621088,22 17.5,22 C13.9101491,22 11,19.0898509 11,15.5 C11,11.9101491 13.9101491,9 17.5,9 C21.0898509,9 24,11.9101491 24,15.5 C24,16.8052135 23.6152971,18.0205747 22.9530943,19.0388807 L27.1819805,23.267767 L25.767767,24.6819805 L21.6164386,20.5306522 Z M17.5,20 C19.9852814,20 22,17.9852814 22,15.5 C22,13.0147186 19.9852814,11 17.5,11 C15.0147186,11 13,13.0147186 13,15.5 C13,17.9852814 15.0147186,20 17.5,20 Z">
		                    </path>
		                	</g>
		            		</g>
		        			</g>
		    				</g>
							</svg>
						</label>
	          <input type="text" id="search-field" name="search_field" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Search for Ideas and people" class="input" data-search="input">
	          <div class="header-search--close v-icon" data-search="stop">
		          <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		    				<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        			<path d="M5,5 L5,-0.99912834 C5,-1.55536914 5.4477153,-2 6,-2 C6.5561352,-2 7,-1.5518945 7,-0.99912834 L7,5 L12.9991283,5 C13.5553691,5 14,5.4477153 14,6 C14,6.5561352 13.5518945,7 12.9991283,7 L7,7 L7,12.9991283 C7,13.5553691 6.5522847,14 6,14 C5.4438648,14 5,13.5518945 5,12.9991283 L5,7 L-0.99912834,7 C-1.55536914,7 -2,6.5522847 -2,6 C-2,5.4438648 -1.5518945,5 -0.99912834,5 L5,5 L5,5 Z" id="Rectangle-402" fill="#534540" transform="translate(6.000000, 6.000000) rotate(45.000000) translate(-6.000000, -6.000000) "></path>
		    				</g>
							</svg>
						</div>
	          <div class="header-search--close v-button button v-light-grey v-small" data-search="stop">Done</div>
	        </div>
	      </div>
	    </div>
	    <div class="header--secondary v-search">
	      <div class="container">
	        <a class="header--secondary--link m-active" data-search-result="posts" href="http://toprecur.cloudapp.net/#">Ideas</a>
	        <a class="header--secondary--link" data-search-result="users" href="http://toprecur.cloudapp.net/#">People</a>
	        <div class="header--secondary--powered-by u-hidden-on-small-screen">
	          powered by
	          <a title="Algolia Realtime Search" target="_blank" href="http://www.algolia.com/?utm_source=producthunt&utm_medium=link&utm_campaign=producthunt_search">Algolia</a>
	        </div>
	      </div>
	    </div>
	    <div class="header--secondary v-links">
	      <div class="container">
	        <a class="header--secondary--link m-active" href="index.html">Home</a>
	        <a class="header--secondary--link " href="http://toprecur.cloudapp.net/collections">Collections</a>
	      </div>
	    </div>
	  </header>

	  <div class="search--main container">
	    <div class="search--results--posts">
		    <h4 class="title m-big u-hidden-on-small-screen">
		      Ideas
		      <span class="search--stats" data-search="stats">0 results</span>
		    </h4>
		    <ul class="search--results--list" data-search="results"></ul>
		    <div class="search--results--no-results" data-search="empty" style="display: none;">Sorry! We couldn't find any Ideas for you.
		    </div>
	  	</div>
	  	<div class="scroll-marker" data-search="scroll-marker">
	  	Hunting down more results...
	  	</div>
	  </div>

	  <main class="page-main">
	    

	   </div>

	<div id="posts-wrapper" class="container posts" >
	  
		<idea-day>

		</idea-day>

	</div>

	<div id="page_end">Hunting down older posts...</div>

		<idea></idea>

	   	</div>
	  </main>

	  

	  <div class="modal u-hide" id="js-modal">
	    <a href="http://toprecur.cloudapp.net/#" class="modal--control v-close" data-modal="close" title="Close">
	      <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    		<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	        	<path d="M5,5 L5,-0.99912834 C5,-1.55536914 5.4477153,-2 6,-2 C6.5561352,-2 7,-1.5518945 7,-0.99912834 L7,5 L12.9991283,5 C13.5553691,5 14,5.4477153 14,6 C14,6.5561352 13.5518945,7 12.9991283,7 L7,7 L7,12.9991283 C7,13.5553691 6.5522847,14 6,14 C5.4438648,14 5,13.5518945 5,12.9991283 L5,7 L-0.99912834,7 C-1.55536914,7 -2,6.5522847 -2,6 C-2,5.4438648 -1.5518945,5 -0.99912834,5 L5,5 L5,5 Z" id="Rectangle-402" fill="#534540" transform="translate(6.000000, 6.000000) rotate(45.000000) translate(-6.000000, -6.000000) "></path>
	    		</g>
				</svg>
	    </a>
	    <a href="http://toprecur.cloudapp.net/#" class="modal--control v-admin m-visible-to-moderator" data-action="toggle" data-toggle="modal-post--admin" title="Admin tools">
	      <svg width="16px" height="10px" viewBox="0 0 16 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    		<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	        	<path d="M16,0.973248353 L16,8.79862142 C16,9.46249797 15.4969325,10 14.8773006,10 L1.12269939,10 C0.503067485,10 0,9.46249797 0,8.79862142 L0,0.960118533 C0,0.449696758 0.595858896,0.21828367 0.901840491,0.609716446 L3.43788344,3.85934704 C3.72776074,4.23108508 4.25920245,4.23682938 4.5559816,3.87247686 L7.51763804,0.235516559 C7.77300613,-0.0779579069 8.22776074,-0.0787785207 8.48312883,0.234695946 L11.4723926,3.88806852 C11.7714724,4.25324166 12.303681,4.24503552 12.5927914,3.87083563 L15.0966258,0.626128722 C15.4010736,0.23141349 16,0.462005964 16,0.973248353" id="crown" fill="#000000"></path>
	    		</g>
				</svg>
	    </a>

	    <div class="modal--sidebar"></div>
	    <div class="modal--content"></div>
	    <div class="modal--loader"></div>
	  </div>

	  <div class="fullscreen-overlay u-hide" id="js-fullscreen">
	    <a href="http://toprecur.cloudapp.net/#" class="fullscreen-overlay--close" title="Close">
	      <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	        <path d="M5,5 L5,-0.99912834 C5,-1.55536914 5.4477153,-2 6,-2 C6.5561352,-2 7,-1.5518945 7,-0.99912834 L7,5 L12.9991283,5 C13.5553691,5 14,5.4477153 14,6 C14,6.5561352 13.5518945,7 12.9991283,7 L7,7 L7,12.9991283 C7,13.5553691 6.5522847,14 6,14 C5.4438648,14 5,13.5518945 5,12.9991283 L5,7 L-0.99912834,7 C-1.55536914,7 -2,6.5522847 -2,6 C-2,5.4438648 -1.5518945,5 -0.99912834,5 L5,5 L5,5 Z" id="Rectangle-402" fill="#534540" transform="translate(6.000000, 6.000000) rotate(45.000000) translate(-6.000000, -6.000000) "></path>
	    </g>
	</svg>
	    </a>

	    <div class="fullscreen-overlay--content"></div>
	    <div class="fullscreen-overlay--loader"></div>
	  </div>

	    <div class="signin-prompt">
	  <div class="modal-bg close-account-prompt"></div>
	  <div class="modal-body">
	    <h2>Please sign in to do this</h2>
	    <a class="button v-twitter" href="http://toprecur.cloudapp.net/auth/twitter">Login with Twitter</a>
	  </div>
	</div>

	    <div class="signup-to-post-prompt">
	  <div class="modal-bg close-signup-to-post-prompt"></div>
	  <div class="modal-body">
	    <h2>Hey there! Please sign in before posting a product.</h2>
	    <a class="button v-twitter" href="http://toprecur.cloudapp.net/auth/twitter">Login with Twitter=user</a>
	  </div>
	</div>


	  <div class="contactus-prompt">
	  <div class="modal-bg close-account-prompt"></div>
	  <div class="modal-body">
	    <h2>Sorry! It looks like there's a problem.</h2>
	    <p>Contact us at <a class="" href="mailto: hello@producthunt.com">hello@producthunt.com</a> for help.</p>
	    <a class="button close-contactus-prompt" href="http://toprecur.cloudapp.net/#">close</a>
	  </div>
	</div>



	</div></div></div></div>

	</div>


		<!-- Begin of script loading -->
		<!--
		<script src="js/sample_data.js"></script>
		-->
		<script src="bower_components/angularjs/angular.js"></script>
	  <script src="js/idea_hunt_app.js"></script>			  	  
	  <% if(typeof user !== 'undefined'){%>
			<!-- Begin user id token -->
			<script type='text/javascript'>
				var userId = '<%= user._id %>';
				console.log("user id in script is " + userId);
			</script>
		<%}%>
		<script src="js/auth_service.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/idea_service.js"></script>
		<script src="js/idea_hunt_directives.js"></script>
		<!-- End of script loading -->
	</body>

</html>